*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFF;
}

.input{
    width: 450px;
    height: 50px;
    padding-left: 1rem;
    font-size: 1rem;
    background-color: #F9FAFF;
}

.btnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5.5rem;
    gap: 1rem;
    font-size: 1.2rem;
}

.inputDiv{
    margin-bottom: 1rem;
}

.errorMessage{
    color: red;
    width: 450px;
}

.heading{
    height: 5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color:#3E8ED0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
}

.aboutAccess{
    font-size: 1rem;
}

.loginText{
    color: #3E8ED0;
    cursor: pointer;
}

.link{
    text-decoration: none;
}

/* responsive */

@media screen and (max-width: 900px) {

    .input {
        width: 370px;
        height: 50px;
        padding-left: 1rem;
        font-size: 1rem;
    }

    .errorMessage{
        width: 370px;
        width: 450px;
    }

}

@media screen and (max-width: 600px) {

    .input {
        width: 300px;
        height: 50px;
        padding-left: 1rem;
        font-size: 1rem;
    }

    .errorMessage{
        color: red;
        width: 300px;
    }

}

@media screen and (max-width: 450px) {

    .input {
        width: 250px;
        height: 50px;
        padding-left: 1rem;
        font-size: 1rem;
    }

    .errorMessage{
        color: red;
        width: 250px;
    }

}

@media screen and (max-width: 455px) {

    .p{
        font-size: 1rem;
    }

}