* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    padding: 0rem 8rem;
}

.img {
    width: 6rem;
}

.cartBtn {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

@media screen and (max-width: 1000px) {

    .mainContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.5rem;
        display: none;
    }

}