* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bookCard {
    display: flex;
    gap: 2rem;
    border-bottom: 2px solid lightGray;
    width: 50rem;
}

.img {
    width: 8rem;
    height: 10rem;
}

.reviewAndPrice {
    display: flex;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.bookDetails {
    margin: 3rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bookNameAndOptionIcon {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.2rem;
    color: #3E8ED0;
    margin-bottom: .2rem;
    width: 25rem;
}

.optionMenu {
    margin-top: .2rem;
    cursor: pointer;
}

.price {
    color: #3E8ED0;
}

.By {
    color: #3E8ED0;
    font-weight: 500;
}

.reviewStar {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.reviewStar p span {
    color: #3E8ED0;
    font-weight: 500;
}


/* responsive */


@media screen and (max-width: 1300px) {

    .bookCard {
        display: flex;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 40rem;
    }

}


@media screen and (max-width: 1050px) {

    .bookCard {
        display: flex;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 35rem;
    }

}

@media screen and (max-width: 1000px) {

    .bookCard {
        display: flex;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 50rem;
    }

} 

@media screen and (max-width: 950px) {

    .bookCard {
        display: flex;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 45rem;
    }

} 

@media screen and (max-width: 850px) {

    .bookCard {
        display: flex;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 40rem;
    }

} 

@media screen and (max-width: 750px) {

    .bookCard {
        display: flex;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 35rem;
    }

} 

@media screen and (max-width: 650px) {

    .bookCard {
        display: flex;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 30rem;
    }

    .bookNameAndOptionIcon {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.2rem;
        color: #3E8ED0;
        margin-bottom: .2rem;
        width: 20rem;
    }

} 

@media screen and (max-width: 600px) {

    .bookCard {
        display: flex;
        flex-direction: column;
        padding-bottom: .5rem;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 25rem;
    }

    .bookNameAndOptionIcon {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.2rem;
        color: #3E8ED0;
        margin-bottom: .2rem;
        width: 15rem;
    }

    .img {
        width: 8rem;
        height: 12rem;
    }

} 

@media screen and (max-width: 515px) {

    .bookCard {
        display: flex;
        flex-direction: column;
        padding-bottom: .5rem;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 20rem;
    }

    .bookNameAndOptionIcon {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.2rem;
        color: #3E8ED0;
        margin-bottom: .2rem;
        width: 15rem;
    }

} 

@media screen and (max-width: 430px) {

    .bookCard {
        display: flex;
        flex-direction: column;
        padding-bottom: .5rem;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 15rem;
    }

    .bookNameAndOptionIcon {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.2rem;
        color: #3E8ED0;
        margin-bottom: .2rem;
        width: 15rem;
    }

} 

@media screen and (max-width: 345px) {

    .bookCard {
        display: flex;
        flex-direction: column;
        padding-bottom: .5rem;
        gap: 2rem;
        border-bottom: 2px solid lightGray;
        width: 12rem;
    }

    .bookNameAndOptionIcon {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.2rem;
        color: #3E8ED0;
        margin-bottom: .2rem;
        width: 10rem;
    }

} 