*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.img{
    width: 8rem;
    height: 10rem;
}

.reviewAndPrice{
    display: flex;
    justify-content: space-between;
}

.details{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.bookDetails{
    margin: 3rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bookNameAndOptionIcon{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.2rem;
    color: #3E8ED0;
    margin-bottom: .2rem;
    width: 20rem;
}

.optionMenu{
    margin-top: .2rem;
}

.price {
    color: #3E8ED0;
}

.By{
    color: #3E8ED0;
    font-weight: 500;
}

.reviewStar {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.reviewStar p span{
    color: #3E8ED0;
    font-weight: 500;
}