* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.img {
    width: 80vw;
    height: 55vh;
}

.textOverlay {
    position: absolute;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: white;
    padding: 5px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    gap: 2rem;
    height: 45vh;
}

.input {
    border-radius: 1.5rem;
    height: 3rem;
    border-color: transparent;
    padding: 1.2rem;
    font-size: 1.2rem;
    width: 15rem;
}

.p {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.inputAndButton {
    display: flex;
    gap: .5rem;
}

@media screen and (max-width: 500px) {

    .inputAndButton {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

}