* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.LoggedInuserName {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3E8ED0;
}

.nameAndArrow {
    margin-right: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}