* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    background: #C8E2F7;
}

.img {
    width: 12rem;
    height: 20rem;
}

.reviewAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    margin: 1rem;
}

.bookDetails {
    width: 80vw;
}

.book_Name {
    font-weight: 500;
    color: #3E8ED0;
}

.reviewStar {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.h3 {
    color: #3E8ED0;
}