* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    background-color: #F9FAFF;
}

.img {
    width: 12rem;
    height: 20rem;
}

.reviewAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    margin: 1rem;
}

.bookDetails {
    width: 80vw;
}

.book_Name {
    font-weight: 500;
    color: #3E8ED0;
}

.reviewStar {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.h3 {
    color: #3E8ED0;
}

/* responsive */

@media screen and (max-width: 1250px) {

    .img {
        width: 11rem;
        height: 20rem;
    }
}

@media screen and (max-width: 1170px) {

    .img {
        width: 13rem;
        height: 20rem;
    }
    
}

@media screen and (max-width: 1075px) {

    .img {
        width: 11rem;
        height: 20rem;
    }
    
}

@media screen and (max-width: 935px) {

     .book_Name {
        font-weight: 500;
        font-size: .7rem;
        color: #3E8ED0;
    }

    .img {
        width: 10rem;
        height: 20rem;
    }
    
}

@media screen and (max-width: 850px) {

    .book_Name {
       font-weight: 500;
       font-size: .7rem;
       color: #3E8ED0;
   }

   .img {
       width: 12rem;
       height: 20rem;
   }
   
}

@media screen and (max-width: 750px) {

    .book_Name {
       font-weight: 500;
       font-size: .7rem;
       color: #3E8ED0;
   }

   .img {
       width: 11rem;
       height: 20rem;
   }
   
}

@media screen and (max-width: 690px) {

   .img {
       width: 10rem;
       height: 20rem;
   }
   
}

@media screen and (max-width: 620px) {

    .img {
        width: 13rem;
        height: 20rem;
    }
    
 }

 @media screen and (max-width: 535px) {

    .img {
        width: 11rem;
        height: 20rem;
    }
    
 }

 @media screen and (max-width: 450px) {

    .img {
        width: 10rem;
        height: 20rem;
    }
    
 }

 @media screen and (max-width: 400px) {

    .img {
        width: 18rem;
        height: 20rem;
    }
    
 }

